Package: spray-playground
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: libc6, adduser, java7-runtime-headless | java6-runtime-headless | java7-runtime | java6-runtime
Maintainer: Alexander Bulaev <aleks.bulaev@gmail.com>
Description: Playground with RESTful services on Scala
